nav {
	background-color: rgb(44, 47, 51);
	height: 5rem;
	display: flex;
	justify-content: center;
	padding: 1rem 1rem;
}

.Navbar {
	padding: 1rem 1rem;
	box-shadow: -2px 8px 32px 9px rgba(20, 5, 24, 0.71);
}

.Navbar a {
	color: white;
	padding: 0 1rem;
	text-decoration: none;
}

nav .Navbar-active {
	color: rgb(241, 139, 43);
}
